/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", serif;
}
:root{
    --bg-color: #0c0c0c;
    --text-color:#fff;
    --main-color:#ae8957;

    --big-font:6.6rem;
    --p-font:1rem;
}
body{

    font-family: "Poppins", sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    padding:10px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
}
 .logo img{
    width:100;
    height: auto;
}
.Navlist{
    display: flex;

}
.Navlist a{
    display: inline-block;
    margin:0 18px;
    color: var(--text-color);
    font-size: var(--p-font);
    transition: all .6s ease;
} 
.Navlist a:hover{
    color: var(--main-color);
}
.right-content{
    display: flex;
    align-items: center;
}
.nav-btn{
    display: inline-block;
    padding: 9px 24px;
    background: transparent;
    border: 2px solid var(--text-color);
    border-radius: 7px;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    transition:all .6s ease;
}
.nav-btn:hover{
    transform: translateY(-5px);
    border: 2px solid var(--main-color);
    color: var(--main-color);
}
#menu-icon{
    font-size: 42px;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}
.nav-link, .drop-down li{
    list-style: none;
    height: 100%;
    padding: 0.5rem 1rem;
    font-weight: 400;
    cursor: pointer;
}
.drop-down{
    position: absolute;
    padding: 0.5rem 0;
    margin: 0.5rem -0.5rem;
    background: linear-gradient(45deg,#6B01FF,#e81cff);
    color: #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    font-size: 10px;
    display: none;
}

.services:hover .drop-down,
.Solutions:hover .drop-down{
    display: block;
}

.services a,
.Solutions a{
    display: flex;
}
.dropdown-icon{
    font-size: 20px;
    position: relative;
    right: -5px;
    transform:rotate(0deg);
    transition: 0.3s ease-in-out all;
}
.services:hover .dropdown-icon,
.Solutions:hover .dropdown-icon{
    transform: rotate(180deg);
}
.drop-down li:hover{
    color: #fff;
    border-radius: 0.5rem;
}
/* navbar ends */

/* Section1 */
.section
{
    height: 75vh;
    width: 100%;
}
.section .section-container{
    width: 80%;
    display: block;
    margin: 8rem auto;
    padding: 50px 0px;
}
.section-container .title h1{
    width: 100%;
    margin-bottom: 1.2rem;
    font-family: 'Poppins',sans-serif;
    font-weight:500;
    font-size: 30px;
}

.section-content{
    float: left;
    width: 50%;
}
.image-section{
    margin-top: -3rem;
    float: right;
    width: 30%;
}
.image-section img{
    width:80%;
    height: auto;
    border-radius: 1%;
    box-shadow: 0px 0px 20px 2px white, inset 0px 0px 20px 2px white;
}

.section-content .section-article p{
    margin-bottom: 1rem;
    color: var(--text-color);
    line-height: 1.5;
    font-family: 'Poppins',sans-serif;
    font-size: 17px;
    font-weight: 300;

}

.article-container .article1{
    height: 100%;
    width: 100%;
    color: white;
}
.article-container .article1 h2{
    font-size: 30px;
}
.article-container .article1 ul{
    line-height: 1.5rem;
    color: white;
}
.article-container .article1 ul li span{
    font-weight: bolder;
}
.article-container .article1 li::before{
    content: "\2713";
    color: white;
    margin-right: 10px;
    margin-left: 4rem;
}

/* buttons  */
.section-container .article-container .s1-b{
    display: inline-block;
    flex: 1 1 auto;
    margin-top: 3rem;
    margin-right: 20px;
    padding:13px 32px;
    text-transform:uppercase ;
    transform: 0.5s;
    background-size: 200% auto;
    border-radius: 50px;
    background-image: linear-gradient(to right,#6B01FF,var(--text-color));
}
.section-container .article-container .s1-b a{
    color: white;
    text-align: center;
    letter-spacing: 1.5px;
}
.section-container .article-container .s1-b:hover{
    transform:scale(1.1);
    transition: all .50s ease-in-out;
    cursor: pointer;
}
/* section 1 ends here */

/* section 2 starts */
.what-section{
    margin-top: -10rem;
    margin-left: 10rem;
}
.what-section .what-title{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
}

.what-container .what-content-section .what-title{
    margin-left: 35rem;
}
.image-cards-container
{
    display: grid;
    place-items:center;
    margin-inline: 1.5rem;
    margin-right: 10rem;
    padding-block: 5rem;
}
.card__container
{
    display: grid;
    row-gap: 3.5rem;
}
.card__artical
{
    position: relative;
    overflow: hidden;
}
.card__artical:hover .card__data{
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}
@keyframes show-data{
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(-7rem);
    }
}
.card__artical:hover{
    animation: remove-overflow 2s forwards;
}
@keyframes remove-overflow{
    to{
        overflow: initial;
    }
}
.card__artical:not(:hover){
    animation: show-overflow 2s forwards;
}
.card__artical:not(:hover) .card__data{
    animation: remove-data 1s forwards;
}
@keyframes remove-data{
    0%{
        transform: translateY(-7rem);
    }
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(.5rem);
    }
}
@keyframes show-overflow{
    0%{
        overflow: initial;
        pointer-events: none;
    }
    50%{
        overflow: hidden;
    }
}
.card__image{
    width: 328px;
    border-radius: 1.5rem;
}
.card__data{
    width: 280px;
    background:linear-gradient(to right, #ebf4f5,#b5c6e0);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 94%, 0.15);
    border-radius: 1rem;
    position: absolute;
    bottom: -10rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity:0 ;
    transition: opacity 1s 1s;
}
.card__Description{
    display: block;
    font-size: .813rem;
    color: black;
    margin-bottom: .25rem;
}
.card__title
{
    font-size: 1.25rem;
    font-weight: 500;
    color: black;
    margin-bottom: .75rem;
}
/* section 2 ends */
/* footer section */
.footer{
    padding: 80px 13% 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    margin-top: 5rem;
    background:linear-gradient(45deg,#40c9ff,#e81cff);
    position: absolute;
    left: 0;
    right: 0;
}
.footer-content h4{
    color: #fff;
    margin-bottom: 1.5rem;
    font-size: 20px;
}
.footer-content li{
    margin-bottom: 16px;
}
.footer-content li a{
    display: block;
    color: #d6d6d6;
    font-size: 15px;
    font-weight: 400;
    transition: all .40s ease;
}
.footer-content li a:hover{
    transform: translateY(-3px) translateX(-5px);
    color:var(--main-color)
}
.footer-content p{
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    margin: 20px 0;
}
.footer-icon a{
    display: inline-block;
    font-size: 22px;
    color: #fff;
    margin-right: 17px;
    transition: all .40s ease;
}
.footer-icon a:hover{
    color: var(--main-color);
    transform: translateY(-5px);
}
.footer img{
    height: 100px;
    width: 100px;
}
/* footer section ends */


@media screen and (max-width:1770px)
{
    header{
        padding: 22px 4%;
    }
}
@media screen and (max-width:1670px)
{
    .footer{
        padding: 50px 5% 40px;
    }
    :root{
        --big-font:3.5rem;
        --p-font:15px;
    }
}
@media screen and (max-width:1370px)
{
    section{
        padding: 0 4%;
    }
}
@media screen and (max-width:1120px)
{
    .footer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        gap: 2rem;
    }
    :root{
        --big-font:3rem;
    }
}
@media screen and (max-width:950px)
{
    #menu-icon{
        display:block;
    }
    .Navlist{
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 100px 50px;
        top :0;
        right: 0;
        left: 100%;
        bottom: 0;
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(32px);
        transition: all .6s ease-in-out;
    }
    .Navlist a{
        display: block;
        padding: 0;
        margin: 0px 0px 25px 0px;
        font-size: 1.7rem;
    }
    .Navlist.open{
        left:0;
    }
}

@media screen and (max-width:570px)
{
    .footer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, auto));
        gap: 2.5rem;
    }

    :root{
        --big-font:2.7rem;
    }
}
@media screen and (max-width:440px)
{
    :root{
        --big-font:2.5rem;
    }
}
@media screen and (max-width:340px) {
    .image-cards-container{
        margin-inline: 1rem;
    }
    .card__data{
        width: 250px;
        padding: 1rem;
    }
}
@media screen and (min-width:768px) {
    .card__container{
        grid-template-columns: repeat(2,1fr);
        column-gap: 1.5rem;
    }
}
@media screen and (min-width:1120px)
{
    .image-cards-container{
        height: 100vh;
    }
    .card__container{
        grid-template-columns: repeat(3,1fr);
    }
    .card__image{
        width: 348px;
    }
    .card__data{
        width: 316px;
        padding-inline: 2.5rem;
    }
}